/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: BAGEL2_BF {
        ext.args = '-s 3' // Seed to avoid random errors due to a too small sample
    }

}
